<h1><%= title %></h1>
<p>
    <div>
        <strong>Firstname: </strong><%= locals.person.firstname %>
    </div>
    <div>
        <strong>Lastname: </strong><%= locals.person.lastname %>
    </div>
    <div>
        <strong>Birthday: </strong><%= locals.person.birthday %>
    </div>
</p>


<a href="/people">Back to people</a>
